*{
    padding: 0px;
    margin: 0px;
}
body{
    
    background-color: #F6F6F6;
}
.profile-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.category-row:hover{
    background-color: #0d6efd;
    color: #fff!important;
    transition: .4s;
    
}

#page-container {
  position: relative;
  min-height: 100vh;
}